.displayNone {
            display: none;
        }

        .forbidUserSelect {
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .selectWrapper_light {
            width: 370px;
            background-color: #F4F4F4;
            text-align: left;
            font-size: 16px;
            outline: none;
            position: relative;
        }

        .selectWrapper_dark {
            width: 370px;
            background-color: #666;
            text-align: left;
            font-size: 16px;
            outline: none;
            position: relative;
        }

        .selectValueWrapper{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 19px;
            border-bottom: 1px solid #dedede;
        }

        .selectValue {
            position: relative;
        }

        .selectArrow {
            display: flex;
            align-items: center;
            width: 15px;
            transform: rotate(180deg);
        }

        .selectArrowActive {
            transform: rotate(0deg);
        }

        .selectArrowImg {
            width: 100%;
            height: auto;
        }

        .selectList_light {
            width: 100%;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: #f4f4f4;
        }

         .selectList_dark {
            width: 100%;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: #666;
        }

        .selectListElem {
            padding: 15px 19px;
            border-color: #aaa;
            border-bottom: 1px solid #dedede;
            cursor: pointer;
        }

        .selectListElem:last-child {
            border-bottom: none;
        }

        .selectListElem:hover {
            background-color: #999;
        }

        .selectListElemActive {
            background-color: red;
        }