.timerContainer_light {
    width: 730px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F4F4F4;
}

.timerContainer_dark {
    width: 730px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #666;
}


.timer__header {
    padding: 19px 40px;
    margin-bottom: 70px;
    width: 89%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    background-color: #C4C4C4;
    font-weight: 700;
    font-size: 16px;
    line-height: 17px;
}

.timer__body {
    margin-bottom: 40px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.clock_light {
    font-weight: 200;
    color: #333333;
    font-size: 150px;
    line-height: 180px;
    display: inline-block;
}

.clock_dark {
    font-weight: 200;
    color: #fff;
    font-size: 150px;
    line-height: 180px;
    display: inline-block;
}

.show {
    animation: pulse 0.5s infinite alternate; /* Применяем CSS анимацию */
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}


.button__wrapper {
 display: flex;
 justify-content: center;
 gap: 25px;
}
