.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 10px;
}

.form__input_light {
    padding: 19px 15px;
    width: 370px;
    border: none;
    background-color: #F4F4F4;
    color: #333333;
    font-weight: 300;
    font-size: 16px;
    line-height: 17px;
    
}

.form__input_dark {
    padding: 19px 15px;
    width: 370px;
    border: none;
    background-color: #333333;
    color: #F4F4F4;
    font-weight: 300;
    font-size: 16px;
    line-height: 17px;
    
}

.form__input::placeholder {
    color: #999999;
    font-weight: 300;
    font-size: 16px;
    line-height: 17px;
}

.error__label {
    font-size: 12px;
    color: red;
}