.nav_light {
    padding: 10px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.nav_dark {
    padding: 10px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
}

.navLink {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: #DC3E22;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    transition: all ease-in-out 0.3s;
}

.navLink:active {
    color: #B7280F;
}

.navLink:hover {
    color: #DC3E22;
}

.navLink:active svg path {
    fill: #B7280F;
}

.rightBlock {
    display: flex;
    gap: 10px;
}

.btn__setting {
    padding: 0;
    margin: 0;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.setting__icon {
    width: 100%;
    height: 100%;
}