.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Прозрачный чёрный цвет */
    z-index: 999; /* Устанавливаем z-index выше других элементов на странице */
}

.settingModal__wrapper_light {
    position: absolute;
    top: 17%;
    left: 45%;
    padding: 20px;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    z-index: 100;
}

.settingModal__wrapper_dark {
    position: absolute;
    top: 25%;
    left: 45%;
    padding: 20px;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #666;
    z-index: 100;
}

.formSetting {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.btn__wrapper {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

